body {
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(22, 50, 87), rgb(0, 0, 0) 60%);
}

img {
    position: fixed;
    left: 60%;
}

.container {
    width: 100%;
}

.header {
    height: 60px;
    background: linear-gradient(217deg, rgb(154, 231, 250), rgb(71, 147, 247) 70.71%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0 50px;
}

.brand {
    width: 200px;
    font-size: 1.7em;
    text-decoration: none;
    color: white;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.nav li {
    padding: 20px;
}

.nav li:hover {
    background: linear-gradient(217deg, rgb(154, 231, 250), rgb(71, 147, 247) 70.71%);
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    height: 100%;
}

.logor {
    float: right;
}

.logo {
    float: left;
}

.flex-container {
    color: rgb(72, 73, 75);
    font-family: Verdana;
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-flow: row wrap;
    border: 5px solid rgb(71, 147, 247);
    border-radius: 20px/20px;
    margin-top: 2%;
    width: 50%;
}

.button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: rgb(89, 209, 95);
    font-weight: bold;
    font-family: Verdana;
    width: 25%;
    padding: 2em;
    color: white;
    background-color: rgb(89, 209, 95);
    border: solid rgb(89, 209, 95);
    border-radius: 1em;
    margin-top: 3%;
    text-align: center;
    transition-duration: 0.4s;
}

.button:hover {
    border: solid rgb(68, 156, 72);
    background-color: rgb(68, 156, 72);
    color: rgb(255, 255, 255);
}